.container{
    height:10vh;
    width:100%;
    background-color: rgb(97, 91, 91);
    display:flex;
    align-items: center;
    justify-content: space-around;
}
nav ul {
    display:flex;
    align-items: center;
    justify-content: space-between;

}
li{
    
    margin:0 1.3rem;
    list-style: none;
    cursor: pointer;
}
ul li a{
text-decoration: none;
color:#646CFF;
font-size: 1.3rem;

}
ul li a:hover{
    color:white;
    transition: all 0.7s;
}
ul li a:focus{
    color:white;
}

.active{
    border-bottom:2px solid #646CFF;
    color:white;
}
.toastBody{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
}